package views

templ Index(dirs []string) {
	@Layout() {
		<div>
			<h2>Media Directories:</h2>
			<ul>
				for _, d := range dirs {
					<li>
						<a href={ "./" + d }>{ d }</a>
					</li>
				}
			</ul>
		</div>
	}
}
